* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: normal;
    line-height: normal;
}

p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Playfair Display', Arial, Helvetica, ;
}

.cta-bg {
    /* background-image: url(./assests/coffee_image.png); */
    background: linear-gradient(90deg, #1E1E1E -6.88%, rgba(0, 0, 0, 0.00) 87.45%), url(./assests/coffee_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 1.7rem;
    font-size: 14px;
}

header h1 {
    font-size: 35px;
    font-family: 'Clicker script', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.cta-bg ul {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    list-style: none;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.cta-btn,
.cta-sign_up {
    color: #1E1E1E;
    border: 0;
    cursor: pointer;
    border-radius: 24px;
    padding: 12px 24px;
    font-family: Playfair Display;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}

.cta-btn {
    margin-top: 15px;
}

.cta-sign_up {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

/**/
.hero-main {
    padding: 3.5rem 2.5rem;
    /* line-height: 1.5rem; */
    margin-top: 3.5rem;
}

.hero-main article p {
    font-size: 22px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.hero-main article h2 {
    font-size: 220px;
    font-family: 'Clicker script', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.hero-main article .hero-main_yourDay {
    font-size: 20px;
}

.hero-main_yourDay {
    line-height: 34px;
    font-family: Playfair Display;
}

.cta-btn-bold {
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
}

/*Discover the best section*/
.discover_best {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 1.7rem;
}

.discover_best article h2 {
    margin-bottom: 13px;
    font-size: 54px;
    color: #603809;
}

.discover_best article p {
    color: #707070;
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}

.discover_best_flow {
    position: relative;
    top: 0;
    bottom: 0;
}

.discover_best_flow_blast {
    position: absolute;
    top: -150px;
    bottom: 0px;
}

.enjoy_blend {
    padding-top: 5.3rem;
    font-family: Playfair Display;
    text-align: center;
}

.enjoy_blend h2 {
    color: #603809;
    font-size: 54px;
    font-weight: 700;
}

.enjoy_blend p {
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.enjoy_blend-slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0rem;
}

.enjoy_blend-slide h2 {
    padding-top: 15px;
}

.enjoy_blend-slide figure img {
    width: 315px;
    /* height: 222px; */
}

.enjoy_blend-slide figure figcaption {
    color: #603809;
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 700;
}


.enjoy_blend-slide figure p {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 400;
}

.enjoy_blend-slide figure h2 {
    color: #603809;
    font-size: 22px;
    font-weight: 700;
}